@import "../import/main";

.dropdown:hover > #cart-dropdown{
    display: block;
}

.dropdown{
    color: white;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 10px;
}

.affichageTotalPrice {
    color: #333;
    font-size: 1.1em;
    margin-top: 4px;
}

.btn-purchase {
    display: block;
    margin: 40px auto 20px auto;
    font-size: 1.75em;
}

// Paiement

#buy{
    min-width: 80%;
    opacity: 0;
    p{
        color: white;
        text-align: left;
    }
    input, select{
        border: 1px solid $secondary;
    }
}

// Produit
        .productContainer{
            box-shadow: 5px 3px 3px 0px rgb(0 0 0 / 40%);
            .productImg{
                padding: unset;
            }
        }